{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "import/first": "off"
    },
    "parserOptions": {
        "ecmaFeatures": {
          "legacyDecorators": true
        }
      }
}